*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 60px;
}
/* Global Defaults Set */
.button{
    background-color: #9d77ba;
    padding: 10px 40px;
    color: white;
    border-radius: 7px;
}

a, a:hover{
	text-decoration: none;
}
.half-width{
    width:50%;
    padding-left: 60px;
}

h1{
    font-size: 52px;
    margin-bottom: 30px;
    margin-top: 80px;
    line-height: 60px;
    font-weight: 700;
}
p{
    padding-bottom: 30px;
    color: #3E3E3E;
}
/* First Banner Section Codes */
.First-banner{
    width: 100%;

	/* background: url("")  center top no-repeat; */
	/* background-size: cover; */
    display: flex;
    padding: 80px 0px;
}

img{
    width: 80%;
}
.purple-text{
    color: #9d77ba;
}




/* Mission Section Codes  */
.Mission-section{
    margin: 0px 40px;

}
.Mission-section h1{
    text-align: center;

}
.Mission-section .Boxes-area{
    display: flex;
    width: 100%;
    margin: 30px 30px;
}
.one-third-box{
    width:33%;
    border-radius: 10px;
    margin-right: 10px;
    padding: 30px 10px;

}
.Mission-section .Boxes-area img{
    width:120px;
    height: 120px;
}
#Mission-box{
    background: #edf5f6;
}
#Vision-box{
    background: #ffeeee;
}
#Goals-box{
    background: #fff4d6;
}

.Develop-section{

}
.Community-Section{

}